.QuestionBlock {
  background-color: #fc6d52;

  .heading {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 12px;
  }

  .QuestionBlock_question-details {
    font-size: 0.85em;
    color: #ffffff87;
    font-weight: 600;

    img {
      object-fit: cover;
      border-radius: 100px;
      width: 35px;
      height: 35px;
      margin-right: 8px;
    }
  }

  .QuestionBlock_question {
    margin-left: 43px;
    font-size: 1em;
    color: #ffffffde;
    font-weight: 400;
  }

  .QuestionBlock_choice {
    margin: 6px 43px;

    .Button--wrapper {
      margin: 12px 0;
    }

    .QuestionBlock_choice-item {
      background-color: #ffffff87;
      margin-bottom: 4px;
      transition: 0.2s all;
      padding: 4px 12px;
      border-radius: 25px;
      margin-right: 4px;
      cursor: pointer;
      display: inline-block;

      &.Choice {
        width: calc(100% - 50px);
        float: left;
      }

      &.Vote {
        width: 40px;
        float: right;
        padding: 0px;
        text-align: center;

        img {
          width: 60%;
        }
      }

      &:hover {
        background-color: #ffffffc4;
      }
    }

    .Answer {
      background-color: #ffffff87;
      margin-bottom: 4px;
      transition: 0.2s all;
      padding: 4px 12px;
      border-radius: 25px;
      margin-right: 4px;
      cursor: pointer;
    }
  }

  .separator {
    margin: 0 4px;
  }

  .QuestionBlock_share {
    margin: 0 40px;

    .SocialMediaShareButton {
      vertical-align: top;
      display: inline-block;
      margin-right: 8px;
      text-align: center;
      cursor: pointer;
    }
  }
}
